


  


<div class="login-wrapper">
  
  <img class="log" src="/assets/img/black.jpg"><br><br>
  <p>black flag company</p> 
  <form action="" class="form">
    
    <img src="/assets/img/avatar (1).png" alt="avatar">
    <h2>Login</h2>
    <div class="input-group">
      <input type="text" name="loginUser" id="loginUser" required>
      <label for="loginUser">User Name</label>
    </div>
    <div class="input-group">
      <input type="password" name="loginPassword" id="loginPassword" required>
      <label for="loginPassword">Password</label>
    </div>
    <input type="submit" value="Login" class="submit-btn">
    <a href="#forgot-pw" class="forgot-pw">Forgot Password?</a><br>
    <a href="http://localhost:4200/Tasks" class="forgot-pw">Don't have an Account?</a>
  </form>

  <div id="forgot-pw">
    
    <form action="" class="form">
      <a href="#" class="close">&times;</a>
      <h2>Reset Password</h2>
      <div class="input-group">
        <input type="email" name="email" id="email" required>
        <label for="email">Email</label>
      </div>
     
      <button onclick="gotopage('admin')" type="submit" value="Submit" class="submit-btn" ></button>
    
    
    </form>
    
  </div>
<!-- 
  <img {src} = "myimage" alt="">   -->
  </div>

